.header {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  & p {
    margin: auto;
    width: fit-content;
    font-weight: bold;
  }

  & img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
