.search-suggestion__wrapper {
  list-style: none;
  width: 50vw;
  margin: 0 auto 1.5rem auto;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  padding: 0;
}

.search-suggestion {
  border-bottom: 1px solid black;
  padding-left: 0.5rem;
}
