.homepage-items {
  overflow-y: scroll;
  height: auto;
  width: 100vw;
  padding: 0 0 0 0.5rem;
}

.homepage-items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & label {
    font-weight: bold;
  }

  @media screen and (max-width: 325px) {
    flex-direction: column;
  }
}

.homepage-items-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  & label {
    font-weight: bold;
  }

  div {
    display: flex;
  }
}

.homepage-items-sort-direction {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  background-color: transparent;
  border: none;
  margin: 0 0.25rem;
}

.homepage-item {
  margin: 0.5rem;
  width: 75vw;
  min-width: 120px;
  max-width: 200px;
}

.homepage-items-title {
  margin: 0.5rem 0;
}

.homepage-items-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 3rem;
}

.homepage-item__image-wrapper {
  position: relative;
  width: 75vw;
  height: 75vw;
  min-width: 120px;
  min-height: 120px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px 1px;
}

.homepage-item__image {
  object-fit: cover;
}

.homepage-item__view {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  font-weight: bold;
  border: none;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;

  & hr {
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    border: red;
    border-radius: 50%;
    margin-left: 0.5rem;
  }
}



.homepage-item-content {
  & p {
    margin: 0;
    word-break: break-all;
    white-space: normal;
  }
}
