.modal-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(2px);
}


.modal-item{
    background-color: #000;
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    width:60vw
}